<div class="alert alert-danger animated fadeIn" *ngIf="error">
    <h3>Error</h3>
    <p>
        {{error}}
    </p>
</div>

<app-tarjetas [loading]="loading" [items]="nuevasCanciones"></app-tarjetas>

