<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar Artista" />
    </div>
</div>

<app-tarjetas [loading]="loading" [items]="artistas"></app-tarjetas>
    