<app-loading *ngIf="loading"></app-loading>

<div class="row" *ngIf="!loading">  
    <div class="col-2">
        <img class="img-thumbnail img-circle" [src]="artista.images | noimage" alt="">
    </div>
    <div class="col">
        <h3>{{artista.name}}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
                Ir a la página del artista
            </a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline btn-danger">Regresar</button>
    </div>
</div>

<div class="row">
    <div class="col m-3">
        <table class="table">
            <thead>
                <tr>
                    <th style="color:white">Foto </th>
                    <th style="color:white">Album</th>
                    <th style="color:white">Canción</th>
                    <th style="color:white">Vista Previa</th>
                </tr>                
            </thead>
            <tbody>
                <tr *ngFor="let item of topTracks">
                    <td>
                        <img class="img-thumb" [src]="item.album.images | noimage" alt="">
                    </td>
                    <td style="color:white">{{ item.album.name }}</td>
                    <td style="color:white">{{ item.name }}</td>
                    <td>
                        <!-- <audio *ngIf="item.preview_url" [src]="item.preview_url" controls></audio>
                        <a *ngIf="!item.preview_url" [href]="item.uri" target="_blank">GO</a> -->
                        <iframe [src]="item.uri | domseguro: 'https://open.spotify.com/embed?uri='" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>